<div id="map-tab">
  <div id="map-object-buttons" style="float: left;">
  <% if (mapMode == "geoPointSelected") { %>
    Point: 
    <a href="#project/<%= projectId %>/map/geo_point/move/<%= geoPointId %>" class="btn">Move</a> 
    <a href="#project/<%= projectId %>/map/geo_point/connect/<%= geoPointId %>" class="btn">Connect</a> 
    <a href="#project/<%= projectId %>/map/geo_point/delete/<%= geoPointId %>" class="btn">Delete</a>
  <% } else if (mapMode == "geoPointMove") { %>
    Point: 
    <a href="#project/<%= projectId %>/map/geo_point/move/<%= geoPointId %>" class="btn primary">Move</a> 
    <a href="#project/<%= projectId %>/map/geo_point/connect/<%= geoPointId %>" class="btn">Connect</a> 
    <a href="#project/<%= projectId %>/map/geo_point/delete/<%= geoPointId %>" class="btn">Delete</a>
  <% } else if (mapMode == "geoPointConnect") { %>
    Point: 
    <a href="#project/<%= projectId %>/map/geo_point/move/<%= geoPointId %>" class="btn">Move</a> 
    <a href="#project/<%= projectId %>/map/geo_point/<%= geoPointId %>" class="btn primary">Connect</a> 
    <a href="#project/<%= projectId %>/map/geo_point/delete/<%= geoPointId %>" class="btn">Delete</a>
  <% } else if (mapMode == "geoPointDelete") { %>
    Point: 
    <a href="#project/<%= projectId %>/map/geo_point/move/<%= geoPointId %>" class="btn">Move</a> 
    <a href="#project/<%= projectId %>/map/geo_point/connect/<%= geoPointId %>" class="btn">Connect</a> 
    <a href="#project/<%= projectId %>/map/geo_point/delete/<%= geoPointId %>" class="btn primary">Delete</a>
  <% } else if (mapMode == "segmentSelected") { %>
    Segment: 
    <a href="#project/<%= projectId %>/map/segment/delete/<%= segmentId %>" class="btn">Delete</a>
  <% } else if (mapMode == "segmentDelete") { %>
    Segment: 
    <a href="#project/<%= projectId %>/map/segment/delete/<%= segmentId %>" class="btn primary">Delete</a>
  <% } %>
  </div>
  <div id="map-buttons" style="float: right;">
    <% if (mapEditsLength > 0) { %>
      <a href="#project/<%= projectId %>/map/upload_edits" class="btn danger">Upload Map Edits</a>
    <% } %>
  </div>
</div>