<div id="measure-tab">
  <ul id="measure-sub-tabs" class="nav nav-tabs">
    <% if (project.get('permissions_for_current_user').plan == true) { %>
    <li id="plan-sub-tab" class="active">
      <a href="#project/<%= project.id %>/measure/plan">Plan</a>
    </li>
    <% } if (project.get('permissions_for_current_user').count == true) { %>
    <li id="count-sub-tab">
      <a href="#project/<%= project.id %>/measure/count">Count</a>
    </li>
    <% } %>
    <li id="view-sub-tab">
      <a href="#project/<%= project.id %>/measure/view">View</a>
    </li>
  </ul>

  <div class="row-fluid">
    <div class="span9">
      <h3>Count plan starts <%= countPlan.get('start_date') %>, lasts for <%= countPlan.printWeeks() %>, and ends <%= countPlan.get('end_date') %>.</h3>
    </div>
    <div class="span3" align="right">
      <h6><a id="edit-count-plan-button" class="btn btn-inverse">Edit Count Plan</a></h6>
    </div>
  </div>
</div>