<div id="measure-tab-plan">
  <ul id="measure-sub-tabs" class="nav nav-tabs">
    <% if (project.get('permissions_for_current_user').plan == true) { %>
    <li id="plan-sub-tab" class="active">
      <a href="#project/<%= project.id %>/measure/plan">Plan</a>
    </li>
    <% } if (project.get('permissions_for_current_user').count == true) { %>
    <li id="count-sub-tab">
      <a href="#project/<%= project.id %>/measure/count">Count</a>
    </li>
    <% } %>
    <li id="view-sub-tab">
      <a href="#project/<%= project.id %>/measure/view">View</a>
    </li>
  </ul>

  <div id="count-plan-header-row" class="row-fluid">
    <div class="span7">
      <h3>Count plan starts <%= new XDate(countPlan.get('start_date')).toString("dddd d MMMM yyyy") %>, lasts for <%= countPlan.printWeeks() %>, and ends <%= new XDate(countPlan.get('end_date')).toString("dddd d MMMM yyyy") %>.</h3>
    </div>
    <div class="span5">
      <div class="btn-group pull-right">
        <h6>
          <a id="edit-count-plan-button" class="btn">
            <i class="icon-pencil"></i> Edit
          </a>
          <a id="archive-count-plan-button" class="btn">
            <i class="icon-lock"></i> Archive
          </a>
          <a id="delete-count-plan-button" class="btn">
            <i class="icon-trash"></i> Delete
          </a>
        </h6>
      </div>
    </div>
  </div>

  <div class="modal-body">
    <table id="gate-group-table" class="table table-condensed">
      <tbody>
        <!-- will be filled with CountPlanTableRow's -->
      </tbody>
    </table>
  </div>
</div>