<ul id="top-bar-tabs" class="nav nav-pills">
    <li id="project-pill"><a href="#project/<%= currentProject.id %>">Project</a></li>
    <% if (currentProject.get('permissions_for_current_user').map == true) { %>
    <li id="map-pill"><a href="#project/<%= currentProject.id %>/map">Map</a></li>
    <% } else { %>
    <li id="map-pill" class="disabled-pill"><a rel="tooltip" title="You do not have permission to edit this project's map.">Map</a></li>
    <% } %>
    <li id="measure-pill"><a href="#project/<%= currentProject.id %>/measure">Measure</a></li>
    <% if (currentProject.get('kind') == 'pedplus') { %>
    <li id="model-pill"><a href="#project/<%= currentProject.id %>/model">Model</a></li>
    <li id="opportunity-pill"><a href="#project/<%= currentProject.id %>/opportunity">Opportunity</a></li>
    <li id="design-pill"><a href="#project/<%= currentProject.id %>/design">Design</a></li>
    <% } else { %>
    <li id="model-pill" class="disabled-pill"><a rel="tooltip" title="Contact S3Sol to upgrade to PedPlus.">Model</a></li>
    <li id="opportunity-pill" class="disabled-pill"><a rel="tooltip" title="Contact S3Sol to upgrade to PedPlus.">Opportunity</a></li>
    <li id="design-pill" class="disabled-pill"><a rel="tooltip" title="Contact S3Sol to upgrade to PedPlus.">Design</a></li>
    <% } %>
    <li id="account-pill" class="dropdown">
    	<a class="dropdown-toggle" data-toggle="dropdown">
    		Account
    		<b class="caret"></b>
    	</a>
    	<ul class="dropdown-menu">
    		<li style="text-align: center;"><strong><%= currentUser.get('first_name') + ' ' + currentUser.get('last_name') %></strong></li>
    		<li class="divider"/>
    		<li><a id="dashboard-link"><i class="icon-th-large"/> Dashboard</a></li>
    		<li><a id="user-settings-link"><i class="icon-user"/> User Settings</a></li>
            <% if (currentUser.get('organization_manager') == true) { %>
    		<li><a id="management-link"><i class="icon-cog"/> Management</a></li>
            <% } %>
    		<li><a id="sign-out-link"><i class="icon-off"/> Sign Out</a></li>
    	</ul>
    </li>
    <li id="help-pill"><a href="#project/<%= currentProject.id %>/help">Help</a></li>
</ul>
<div id="tab-area"></div>