<ul class="nav pills">
    <li id="project-pill"><a href="#project/<%= projectId %>">Project</a></li>
    <li id="map-pill"><a href="#project/<%= projectId %>/map">Map</a></li>
    <li id="model-pill"><a href="#project/<%= projectId %>/model">Model</a></li>
    <li id="measure-pill"><a href="#project/<%= projectId %>/measure">Measure</a></li>
    <li id="opportunity-pill"><a href="#project/<%= projectId %>/opportunity">Opportunity</a></li>
    <li id="design-pill"><a href="#project/<%= projectId %>/design">Design</a></li>
    <li id="sign-out-pill"><a href="/users/sign_out">Sign Out</a></li>
    <li id="help-pill"><a href="#project/<%= projectId %>/help">Help</a></li>
</ul>
<div id="tab-area"></div>